[build]
  publish = "public"
  functions = "netlify/functions"

[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200

[dev]
  framework = "#static"
  publish = "public"
  functions = "netlify/functions"
